* {
    box-sizing: border-box;
}

body {
    background-color: var(--verydarkblue);
        background-image: linear-gradient(to bottom, var(--verydarkblue), var(--verydarkpurple),
        var(--verydarkpurple) var(--verydarkblue));
    overflow: hidden;
}

.thanks {
    width: 70%;
    margin: auto;
}
.thanks h2 {
    font-size: 50px;
    color: var(--white);
    text-align: center;
    text-shadow: 3px 3px var(--lilac);
}

.creator-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;

}

.creator {
    width: 200px;
    height: 300px;
    margin: auto;
    text-align: center;

}

.creator img {
    width: 130px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.creator h4 {
    color: var(--white);
    margin-bottom: 10px;
}


.creator a:link, .creator a:visited {
    text-decoration: none;
    color: var(--yellow);
    margin: 5px;
}

.creator a:hover {
    color: var(--lilac);
}

.play-again a:link, .play-again a:visited {
    color: var(--red);
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    width: 50%;
    right: 25%;
    text-align: center;
}

.play-again a:hover {
    color: var(--lilac);
}