body {
    background-color: #262626;
    background-image: linear-gradient(to bottom, var(--darkpink), var(--darkpurple), var(--darkpurple), var(--darkblue));

}

:root {
    --darkpurple: #2b183d;
    --purple: #5d3485;
    --darkblue: #211d4f;
    --white: #e8e7e6;
    --darkred: #ab231a;
    --darkpink: #29041b;
    --red: #de5454;
    --yellow: #e8ca5f;
    --blue: #5492de;
}

.spacer {
    height: 60px;
}

.big-spacer {
    height: 100px;
    width: 100%;
}


h1, h2, h3, h4, p, a {
    font-family: verdana;
}

p {
    color: var(--white);
}