body {
    overflow: hidden;
    /*
            background-image: linear-gradient(to bottom, var(--darkpink), var(--darkpurple), var(--darkpurple), var(--darkblue));

    */
    background-color: var(--verydarkblue);
    background-image: linear-gradient(to bottom, var(--verydarkblue), var(--verydarkpurple), var(--verydarkblue));

}

.title {
    margin: auto;
    text-align: center;
    width: 700px;
    height: 370px;
    padding-top: 70px;
    border: 5px solid var(--white);
    border-radius: 50px;
}

.title h1 {
    color: var(--white);
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
}

#bar, #progress {
    width: 500px;
    height: 10px;
    margin: auto;
}

#bar {
    background-color: grey;
    border: 2px solid var(--white);
    border-radius: 3px;
}

#progress {
    background-color: var(--darkred);
}

.menu-container {
    margin-top: 50px;
    justify-content: space-between;
    height: 80px;
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
}





.flower {
    position: float;
    height: 200px;
}

.attribution {
    text-decoration: none;
    color: var(--white);
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}