body {
    background-color: var(--verydarkblue);
    overflow-x: hidden;

}

.instructions {
    text-align: center;
    margin: auto;
}


.instructions h3 {
    color: var(--white);
    font-weight: normal;
    font-size: 40px;
}
.animal {
    width: 200px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: var(--bluegrey);
    opacity: 0.9;
}


.animal img {
    height: 150px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.animal h4 {
    color: var(--offwhite);
}

.animal p {
    color: var(--grey);
    font-size: 13px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}



.compile {
    width: 95px;
    margin: auto;
}

.compile a {
    margin: auto;
}

.compile button {
    background-color: var(--lightteal);
}


#coyote {
    height: 150px;
}