body {
    background-color: var(--verydarkblue);
}

.instructions {
    text-align: center;
    margin: auto;
}


.instructions h3 {
    color: var(--white);
    font-weight: normal;
    font-size: 40px;
}
.animal {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin: 20px;
    padding: 10px 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--bluegrey);
}


.animal img {
    height: 130px;
    margin: auto;
}

.animal p {
    color: var(--grey);
    font-size: 13px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.compile {
    width: 95px;
    margin: auto;
}

.compile a {
    margin: auto;
}