* {
    box-sizing: border-box;
}

body {
    background-color: var(--verydarkblue);
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, var(--verydarkblue), var(--verydarkpurple), var(--verydarkblue));


}

.instructions {
    text-align: center;
    margin: auto;
}


.instructions h3 {
    color: var(--white);
    font-weight: normal;
    font-size: 40px;
    animation: 0.7s ease-out 0s 1 fadeIn;

}
.animal {
    width: 250px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: var(--bluegrey);
    opacity: 0.9;
        animation: 0.7s ease-out 0s 1 fadeInSlideBottom;

}

.animalDes{
    display: none;
    color: var(--offwhite);
    font-size: 16px;
    margin-top: 5px;
}
.animal img {
    width:150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.animal h4 {
    color: var(--offwhite);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    width: 40px;
    height: 15px;
    background-color: var(--verydarkblue);
    border: 0;
    color: var(--white);


}

label {
    color: var(--grey);
    font-size: 15px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}



.compile {
    width: 95px;
    margin: auto;
}


.compile button {
    background-color: var(--lightteal);
}


#coyote {
    height: 150px;
}
