* {
    box-sizing: border-box;
}

body {
    background-color: var(--verydarkblue);

}


.heading h2 {
    color: var(--white);
    font-size: 50px;
    font-weight: normal;
}

.heading {
    text-align: center;
}

#organismsContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    padding-left: 20px;
    animation: 0.7s ease-out 0s 1 fadeInSlideBottom;
}
.organism {
    width: 130px;
    background-color: var(--bluegrey);
    border: 0;
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
}

.organism h3 {
    color: var(--white);
    font-weight: normal;
    margin: 0;

}


.organism p {
    color: var(--grey);
    margin: 0;
    margin-top: 10px;

}

#startSimulation {
    background-color: var(--red);
    margin: auto;
    width: 120px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-group {
    margin-top: 20px;
    text-align: center;
    width: 200px;
    margin: auto;

}
.chart {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

#populationChart {
    width: 40%;
    background-color: var(--verydarkblue);


}

#messageBox {
    width: 20%;
    height: 45vh;
    overflow: auto;
    background-color: var(--verydarkblue);
    color: var(--grey);
    font-family: 'gill sans'
    margin-left: 10px;
}

canvas {
    width: 80%;
    margin: auto;

}

#bioIndex:hover {
    color: var(--lilac);
}

.input-group {
    margin-top: 30px;
        color: var(--grey);
        font-family: 'gill sans';
}
.quiz-button {
    background-color: var(--lightteal);
}

.input-group a:link {
    text-decoration: none;

}

.bioIndex:hover {
    color: var(--lilac);
}

.input-group a:hover {
    color: pink;
}
