body {
    background-color: var(--verydarkblue);

}
.heading h3 {
    color: var(--white);
    font-size: 50px;
    font-weight: normal;
}

.heading {
    text-align: center;
}

.organism-container {
    position: absolute;
    left: 10%;
    width: 300px;
    padding-left: 20px;
}
.organism {
    width: 180px;
    background-color: var(--bluegrey);
    border: 0;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

.organism h3 {
    color: var(--white);
}

.organism p {
    color: var(--grey);
}

#populationChart {
    width: 400px;
}

canvas {
    width: 80%;
    margin: auto;
}