body {
    background-color: var(--verydarkblue);
}

.rules-container {
    width: 70%;
    margin: auto;
    padding: 20px;
}
.rules-container h3{
    color: var(--white);
    text-align: center;
    font-size: 50px;
}

.rules-container ul {
    color: var(--white);
}